<p><%= @photo_count %> photos from <%= @registry_accounts.count %> Flickr accounts</p>

<div class="row" id="photo-container">

<% @photos.each do |photo| %>
<div class="photo-item span4">
  <a href="<%= photo.page_url %>"><img src="<%= photo.img_url %>"></a>
  <p><%= photo.title %></p>
  <p><%= truncate_html(photo.description, :word_boundary => /\S[\.\?\!]/) %></p>
  <p>by <a href="<%= photo.profile_url %>"><%= photo.ownername %></a></p>
  <p>on <%= photo.uploaded_at.strftime('%B %d') %></p>
</div>
<% end %>

</div> <!-- photo-container -->

<div class="span6 offset3">
<div class="pagination">
  <ul>
    <% if @prev_page > 0 %>
    <li><a href="/flickr/test?page=<%= @prev_page %>">Prev</a></li>
    <% else %>
    <li class="disabled"><a href="">Prev</a></li>
    <% end %>
    
    <% if @this_page < 5 %>
      <% (1..5).each do |page_number| %>
        <% if page_number == @this_page %>
          <li class="active"><a href=""><%= @this_page %></a></li>
        <% else %>
          <li><a href="/flickr/test?page=<%= page_number %>"><%= page_number %></a></li>
        <% end %>
      <% end %>
      <li class="disabled"><a href="">...</a></li>
    <% elsif @this_page > (@total_pages - 4) %>
      <li class="disabled"><a href="">...</a></li>
      <% ((@total_pages - 4)..@total_pages).each do |page_number| %>
        <% if page_number == @this_page %>
          <li class="active"><a href=""><%= @this_page %></a></li>
        <% else %>
          <li><a href="/flickr/test?page=<%= page_number %>"><%= page_number %></a></li>
        <% end %>
      <% end %>
    <% else %>
      <li class="disabled"><a href="">...</a></li>
      <% ((@this_page - 2)..(@this_page + 2)).each do |page_number| %>
        <% if page_number == @this_page %>
          <li class="active"><a href=""><%= @this_page %></a></li>
        <% else %>
          <li><a href="/flickr/test?page=<%= page_number %>"><%= page_number %></a></li>
        <% end %>
      <% end %>
      <li class="disabled"><a href="">...</a></li>
    <% end %>
    
    <% if @next_page < @total_pages %>
    <li><a href="/flickr/test?page=<%= @next_page %>">Next</a></li>
    <% else %>
    <li class="disabled"><a href="">Next</a></li>
    <% end %>
  </ul>
</div>
</div>
